/* Убираем подчеркивание у всех ссылок */
a {
    text-decoration: none;
}

/* Стили для всех ссылок меню */
.menu-link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

/* Стили для всех заголовков h1 */
.h1-heading {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

/* Стили для всех параграфов */
.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

/* Стили для заголовков h2 */
.h2-heading {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}